# Lab 7: Seaborn
In this lab you work on applying your new Python skills to work with data - finally!

This lab is a bit shorter because I wanted to make sure you have enough time to work on your projects. You'll get lots of practice with Data Analysis using your project data sets.

**This lab must be completed individually.**

Where provided, try your best to match the **Sample Output** as best as you can.

## Accept the lab

To accept this lab on GitHub Classroom, go to `Canvas` --> `Course Content` --> `Lab Links and Solutions`.

## Objectives

In this lab you will:

1. Practice working with data using the pandas package
2. Practice some data wrangling mathematical operations.
3. Practice working with the seaborn package.
4. Practice creating data visualizations.

In [1]:
# Usually all the import statements are at the top of the file

import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

## Task 1: Working with data using pandas

In this part of the lab, we will practice loading in a sample data set using pandas, and doing some basic operations.

### 1.1: Load in the data

There is a CSV file (`pokemon.csv`) inside a directory called `data` within the `lab3A` directory.

Your task is to use the pandas [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function to read this dataset, assign it to a dataframe called `df`, and then print its [`head`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) also known as the first 5 lines of the dataframe.

*Hint: don't forget to first `import pandas as pd` to use `read_csv` and other pandas function.*

In [2]:
### Your solution here
df = pd.read_csv("data/pokemon.csv")

### 1.2: How many total pokemon are there in the dataset?

Make sure to use the `dataframe.count()` function to print the total number of entries in each column of the dataframe before you answer!

In [3]:
### Your solution here
df.count()

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64

### 1.3: Create a new dataframe `df2` that only includes the Pokemon from the first generation. 

*Hint: Remember that you can subset dataframes using the `[]` syntax. [More on this here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html)*

In [4]:
### Your solution here
df2 = df[df["Generation"]==1]
df2.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 1.4: Print ONLY the mean HP, Attack, Defense, and Speed of all pokemon in the first generation using pandas functions

In [5]:
### Your solution here
df2[["HP", "Attack", "Defense", "Speed"]].mean()

HP         65.819277
Attack     76.638554
Defense    70.861446
Speed      72.584337
dtype: float64