# Task 3: Introduction to Pandas

In this lab you work on applying your new Pandas skills to work with data - finally!

## Objectives

In this lab you will:

1. Practice working with data using the pandas package
2. Practice some data wrangling mathematical operations.

In [2]:
pip install seaborn

Defaulting to user installation because normal site-packages is not writeable
Collecting seaborn
  Downloading seaborn-0.13.1-py3-none-any.whl (294 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.8/294.8 KB 3.1 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in /usr/lib/python3/dist-packages (from seaborn) (3.5.1)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /home/dhun97/.local/lib/python3.10/site-packages (from seaborn) (1.25.2)
Requirement already satisfied: pandas>=1.2 in /home/dhun97/.local/lib/python3.10/site-packages (from seaborn) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/dhun97/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in /home/dhun97/.local/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3)
Requirement already satisfied: pytz>=2020.1 in /usr/lib/python3/dist-packages (from pandas>=1.2->seaborn) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.1
Note: you may need to restart the kernel to use updated packages.

In [3]:
# Usually all the import statements are at the top of the file

import pandas as pd
import seaborn as sns
import numpy as np
import os
import matplotlib.pyplot as plt

/usr/lib/python3/dist-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 1.25.2
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

## Working with data using pandas

In this part of the lab, we will practice loading in a sample data set using pandas, and doing some basic operations.

### 3.1: Load in the data

There is a CSV file (`pokemon.csv`) inside a directory called `data`.

Your task is to use the pandas [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html) function to read this dataset, assign it to a dataframe called `df`, and then print its [`head`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) also known as the first 5 lines of the dataframe.

*Hint: don't forget to first `import pandas as pd` to use `read_csv` and other pandas function.*

In [4]:
### Your solution here
data = pd.read_csv("pokemon.csv")
data.head(5)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

### 3.2: How many total pokemon are there in the dataset?

Make sure to use the `dataframe.count()` function to print the total number of entries in each column of the dataframe before you answer!

In [12]:
### Your solution here
print(data.count())
print('There are 800 pokemon in the dataset')

#             800
Name          800
Type 1        800
Type 2        414
Total         800
HP            800
Attack        800
Defense       800
Sp. Atk       800
Sp. Def       800
Speed         800
Generation    800
Legendary     800
dtype: int64
There are 800 pokemon in the dataset

### 3.3: Create a new dataframe `df2` that only includes the Pokemon from the first generation. 

*Hint: Remember that you can subset dataframes using the `[]` syntax. [More on this here](https://pandas.pydata.org/docs/getting_started/intro_tutorials/03_subset_data.html)*

In [19]:
### Your solution here
df2 = data[data['Generation']==1]
df2['Generation'].value_counts()

Generation
1    166
Name: count, dtype: int64

### 3.4: Print ONLY the mean HP, Attack, Defense, and Speed of all pokemon in the first generation using pandas functions

In [33]:
### Your solution here

df2[['HP','Attack', 'Defense','Speed']].mean().round(2)

HP         65.82
Attack     76.64
Defense    70.86
Speed      72.58
dtype: float64