# Lecture 1: INTRO TO PYTHON

## Attribution
- This lecture has been adapted from:
    - The Python lectures delivered by [Mike Gelbart](https://personal.math.ubc.ca/~pwalls/) and are available publicly [here](https://www.youtube.com/watch?v=yBAYduexjuA).

## About Lecture 1

This course <strong>does not</strong> start from "no programming knowledge".
- You <strong>should know</strong> what an <code>if statement</code> is.
- You <strong>should know</strong> what a <code>for loop</code> is.
- You <strong>should know</strong> what a <code>function</code> is.

However, not all of you have used <em>Python/R</em>. So, this course is about <em>Python-specific</em> and <em>R-specific</em> syntax/knowledge. We will cover things like loops, but <strong>just the syntax, not the concept</strong> of a loop.

### Lecture 1 Outline:

- **Why Python** 
- **Comments in Python** 
- **Basic datatypes** 
- **Lists and tuples**
- **String methods**
- <span style="color:red">Class Exercise 1</span>
- **Dictionaries** 
- **Conditionals** 
- <span style="color:red">Class Exercise 2</span>

### Why Python for the MDS program?
- Python is extremely popular in DS (and beyond!)
- Python is relatively easy to learn
- Python has good documentation and huge user community 
- There are lots of Stack Overflow and other forums to search for questions
- There are lots of useful packages you can use

### Comments in Python

In [1]:
# Use "#" to comment in Python code
# This is a comment. The computer just ignore this comment.

""" 
this is a multiline comment. Indeed, it is a string (we will see it later) 
but does nothing and can be used as a comment.
"""

print('Learning how to use comments in Python')

Learning how to use comments in Python

### Basic datatypes


- A **value** is a piece of data that a computer program works with such as a number or text.
- There are different types of values: <span style="color:green">42</span> is an integer and <span style="color:green">"Hello!"</span> is a string.
- A **variable** is a name that refers to a value.
    - In mathematics and statistics, we usually use variables names like <code>x</code> and <code>y</code>.
    - In Python, we can use any word as a variable name (as long as it starts with a letter and is not a reserved word in Python such as <code>for, while, class, lambda</code>, etc.).
- And we use the **assignment operator** <span style="color:green">=</span> to assign a value to a variable.

See the [Python 3 documentation](https://docs.python.org/3/library/stdtypes.html) for a summary of the standard built-in Python datatypes. See [Think Python (Chapter 2)](https://greenteapress.com/thinkpython/html/thinkpython003.html) for a discussion of variables, expressions and statements in Python.

#### Common built-in Python data types

| <span style="color:lightBlue">English name</span>  | <span style="color:lightBlue">Type name</span>  | <span style="color:lightBlue">Description</span>   | <span style="color:lightBlue">Example</span>  |
| :---         | :---:     | :---:                           | ---:    |
|integer       |**int**        |positive/negative whole numbers   |<span style="color:green">42</span>       |
|floating point number|**float** |real number in decimal form     |<span style="color:green">3.14159</span>|
|boolean       |**bool**        |true or false                    |<span style="color:green">True</span>|
|string        |**str**         |text                             |<span style="color:green">"I Can Has Cheezburger?"</span>|
|list          |**list**        |a collection of objects - mutable & ordered |<span style="color:green">['Ali','Xinyi','Miriam']</span>|
|tuple         |**tuple**       |a collection of objects - immutable & ordered|<span style="color:green">('Thursday',6,9,2018)</span>|
|dictionary    |**dict**       |mapping of key-value pairs       |<span style="color:green">{'name':'DSCI','code':511,'credits':2}</span>|
|none          |**NoneType**    |represents no value              |<span style="color:green">None</span>|

#### Numeric Types

In [1]:
# Integers 
x = 42

In [2]:
# If you are not sure what type, the interpreter will tell you.
type(x)

int

In [ ]:
# You can get print the value of the variable with print:
print(x)

In [ ]:
# You can get print the value of the variable by writting the variable name: 
# This will not work in a python script !!
x

In [3]:
# Floats
pi = 3.4159
pi

3.4159

In [4]:
type(pi)

float

In [ ]:
λ = 4  #\lambda
σ = 15 #\sigma

In [ ]:
χ = 4 # this is \chi not x
ϰ = 12 # this is \varkappa not x

#### Arithmetic Operators

In [ ]:
# addition (+)
1 + 2 + 3 + 4 + 5

In [ ]:
# .1 cannot be represented exactly in a binary floating point representation
# There's already a small round-off error in .1
0.1 + 0.2

In [ ]:
# subtraction (-)
5 - 3

In [ ]:
.5 - .2

In [ ]:
# multiplication (*)
5*3

In [ ]:
.5*2.

In [ ]:
# division (/) 
101/ 2

In [ ]:
#exponentiation (**)
4**2

In [5]:
# integer division (//)  -- always rounds down
101 // 2

50

In [ ]:
# modulo (%) -- "101 mod 2", or the remainder when 101 is divided by 2
101%2

##### NoneType

- **NoneType** is its own type in *Python*.
- It only has one possible value, <span style="color:green">None</span>
- It is used to define a <span style="color:green">null</span> variable or an objec


In *Python*, <span style="color:green">None</span> keyword is an object, and it is a data type of the class **NoneType**. We can assign <span style="color:green">None</span> to any variable, but you can not create other **NoneType** objects

In [ ]:
x = None
x

In [ ]:
print(x)

In [ ]:
type(x)

#### Interesting Facts
- <span style="color:green">None</span> is not the same as <span style="color:green">False</span>.
- <span style="color:green">None</span> is not <span style="color:green">0</span>.
- <span style="color:green">None</span> is not an empty string.
- Comparing <span style="color:green">None</span> to anything will always return <span style="color:green">False</span> except <span style="color:green">None</span> itself

In [2]:
print(None == None )

True

In [3]:
print(None == False)

False

In [4]:
string = ""
print(None == string)

False

##### Strings

- Text is stored as a type called a **string**.
- We think of a **string** as a sequence of **characters**.
- We write strings as characters enclosed with either:
    - single quotes, e.g., <span style="color:green">'Hello'</span>
    - double quotes, e.g., <span style="color:green">"Goodbye"</span>
    - triple single quotes, e.g., <span style="color:green">'''Yesterday'''</span>
    - triple double quotes, e.g., <span style="color:green">"""Tomorrow"""</span>

In [ ]:
course = "Data 531"
course

In [ ]:
type(course)

In [ ]:
program = 'MDS'
program

If the string contains a quotation or apostrophe, we can use double quotes or triple quotes to define the string.

In [ ]:
sentence = "It's a sunny day."
sentence

In [ ]:
type(sentence)

In [6]:
saying = '''They say: 
"It's a sunny day!'''

saying # jupyter notebook does not give you the desire output. You should use print() here.

'They say: \n"It\'s a sunny day!'

In [7]:
print(saying)

They say:
"It's a sunny day!

##### boolean

- The **Boolean** (bool) type has two values: <span style="color:green">True</span> and <span style="color:green">False</span>.

In [ ]:
isDATA531= True
isDATA531

In [ ]:
type(isDATA531)

In [ ]:
isSnowing = False
isSnowing

In [ ]:
type(isSnowing)

##### Comparison operators

Compare objects using comparison operators. The result is a Boolean value.

|<span style="color:blue">Operator</span> | <span style="color:blue">Description</span> |
| :--- | :--- |
|<span style="color:green">x == y</span>|is <span style="color:green">x</span> equal to <span style="color:green">y</span>?|
|<span style="color:green">x != y</span>|is <span style="color:green">x</span> not equal to <span style="color:green">y</span>?|
|<span style="color:green">x > y</span>|is <span style="color:green">x</span> greater than <span style="color:green">y</span>?|
|<span style="color:green">x >= y</span>|is <span style="color:green">x</span> greater than or equal to <span style="color:green">y</span>?|
|<span style="color:green">x < y</span>|is <span style="color:green">x</span> less than <span style="color:green">y</span>?|
|<span style="color:green">x <= y</span>|is <span style="color:green">x</span> less than or equal to <span style="color:green">y</span>?|
|<span style="color:green">x is y</span>|is <span style="color:green">x</span> the same object as <span style="color:green">y</span>?|
|<span style="color:green">x and y</span>|are <span style="color:green">x</span> and <span style="color:green">y</span> both true?|
|<span style="color:green">x or y</span>| is at least one of <span style="color:green">x</span> and <span style="color:green">y</span> true?|
|<span style="color:green">not x</span>| is <span style="color:green">x</span> false? |

In [ ]:
# less than
2 < 3

In [ ]:
# not equal to
"Data Science" != "Deep Learning"

In [ ]:
# equal to?
2 == 2.0

In [ ]:
2 == "2"

In [ ]:
isMonday= True
isSeptember = True

# Conjunction: are both variables true?
isMonday and isSeptember

In [9]:
isData531= True
isTheBreak = False

isData531 and isTheBreak

False

In [8]:
isWednesday= False
IamSleeping = False

# Disjunction: at least one variable true?
isWednesday or IamSleeping

False

In [10]:
# will return True if the expression is False
# Negation
not IamSleeping

True

In [11]:
not not IamSleeping

False

Note: we will discuss <code>is</code> next week.

##### Casting

- Sometimes (but rarely) we need to explicitly **cast** a value from one **type** to another.
- *Python* tries to do something reasonable, or throws an error if it has no ideas.

In [ ]:
integer = int(5.0)
integer

In [ ]:
type (integer)

In [ ]:
string = str(5)
string

In [ ]:
type(string)

In [ ]:
integer==string

In [ ]:
string2=str(integer)
string2

In [ ]:
string2==string

In [ ]:
string3=str(float(integer))
string3

In [ ]:
string3==string

In [ ]:
integer2=int(float(string))
integer2

In [ ]:
integer2==integer

In [ ]:
list(5.0) # there is no reasonable thing to do here

### Lists and Tuples (20 min)
- **Lists** and **tuples** allow us to store multiple things (“elements”) in a single object.
- The elements are ordered.
- **Lists** are mutable objects, we use <code>[]</code> 
- **Tuples** are immutable objects, we use <code>()</code>

In [ ]:
# empty list
my_list = []
my_list

In [5]:
my_list = [1, 2, "THREE", 4, 0.5]
my_list

[1, 2, 'THREE', 4, 0.5]

In [ ]:
type(my_list)

In [ ]:
# You can get the length of the list with len:
len(my_list)

In [ ]:
my_list[0]

A list can also have another list as an item. This is called a nested list.

In [ ]:
# nested list
my_nestedlist = ["Happy", [2, 0, 1, 5]]
my_nestedlist

In [ ]:
type(my_nestedlist)

In [12]:
today = (1, 2, "THREE", 4, 0.5)
today

(1, 2, 'THREE', 4, 0.5)

In [13]:
type(today)

tuple

In [14]:
len(today)

5

#### Indexing and Slicing Sequences

- We can access values inside a list, tuple, or string using the bracket syntax <code>[]</code>.
- *Python* uses **zero-based** indexing, which means the first element of the list is in position **0**, not position **1**.
- Sadly, *R* uses **one-based** indexing, so get ready to be confused.

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[4]

In [ ]:
my_list[5]

In [16]:
# Nested indexing
my_nestedlist = ["Happy", [2, 0, 1, 5]]
my_nestedlist[0][1]

'a'

In [ ]:
my_nestedlist[1][3]

In [ ]:
today[4]

In [15]:
#We use negative indices to count backwards from the end of the list.
my_list[-1]

NameError: name 'my_list' is not defined

In [ ]:
# We use the colon : to access a subsequence. This is called “slicing”.
my_list[1:4]

- Above: note that the start is inclusive and the end is exclusive.
- So the above code <code>my_list[1:4]</code> fetches elements 1, 2, and 3 but not 4.
- In other words, it gets the 2nd, 3rd, and 4th elements in the list.

In [17]:
# We can omit the start, this mean take all values from the start of the list
my_list[:3]

NameError: name 'my_list' is not defined

In [ ]:
# We can omit the end, this mean take all values until the end of the list
my_list[2:]

In [ ]:
# *almost* same as my_list - The [:] makes a shallow copy of the array. We will see this later in the course
my_list[:]

Strings behave the same as lists and tuples when it comes to indexing and slicing.

In [18]:
alphabet = "abcdefghijklmnopqrstuvwxyz"
alphabet

'abcdefghijklmnopqrstuvwxyz'

In [ ]:
alphabet[0]

In [19]:
alphabet[-1]

'z'

In [20]:
alphabet[-3]

'x'

In [22]:
alphabet[:5]

'fghijklmnopqrstuvwxyz'

#### List Methods

- A **list** is an object and it has **methods** for interacting with its data.
- For example, <code>list.append(item)</code> appends an item to the end of the list.
- See the documentation for more [list methods](https://docs.python.org/3/tutorial/datastructures.html#more-on-lists).

In [ ]:
# empty list
my_list = []
my_list

In [23]:
primes = [2,3,5,7,11]
primes

[2, 3, 5, 7, 11]

In [ ]:
len(primes)

In [ ]:
#to append an item to the end of the list
primes.append(13)
primes

In [ ]:
primes.append(13)

In [ ]:
primes

In [24]:
# add several items to the list
primes.extend([17, 19, 23, 29])
primes

[2, 3, 5, 7, 11, 17, 19, 23, 29]

In [ ]:
# Return the largest item 
max(primes)

In [ ]:
# Return the smallest item 
min(primes)

In [16]:
# To sum all values
sum(primes)

28

In [25]:
# Concatenating lists with '+'
[1,2,3] + ["Hello", 7]

[1, 2, 3, 'Hello', 7]

In [29]:
# Repeating lists
["re"] * 3

['re', 're', 're']

#### Sets

- Another built-in *Python* data type is the <code>set</code>, which stores an *un-ordered* **list** of unique items.
- More on sets in DATA 532.

In [47]:
s = {2,3,5,11}
s

{2, 3, 5, 11}

In [12]:
{1,2,3} == {3,2,1}

True

In [17]:
[1,2,3] == [3,2,1]

False

In [32]:
s.add(2) # does nothing
s

{2, 3, 5, 11}

In [33]:
# Above: throws an error because elements are not ordered.
s[0]

TypeError: 'set' object is not subscriptable

In [40]:
for i in s:
    print (i)

3
2
11
5

#### Mutable vs. Immutable Types

- **Strings** and **tuples** are immutable types which means they cannot be modified.
- **Lists** are mutable and we can assign new values for its various entries.
- This is the main difference between lists and tuples.

In [ ]:
# change the items in a list 
names_list = ["Kelowna","Kamloops","Toronto"]
names_list

In [ ]:
names_list[2] = "Vernon"
names_list

In [ ]:
names_tuple = ("Kelowna","Kamloops","Toronto")
names_tuple

In [ ]:
names_tuple[2] = "Vernon"
names_tuple

Same goes for strings. Once defined we cannot modifiy the characters of the string.

In [28]:
thisCourse = "DATA501"

In [29]:
thisCourse[-3] = '3'

TypeError: 'str' object does not support item assignment

In [ ]:
x = ([1,2,3],5)
x

In [ ]:
x[1] = 7

In [ ]:
x[0][1] = 4
x

### Exercise 1

### String Methods (5 min)

- There are various useful string methods in Python.

In [31]:
all_caps = "HOW ARE YOU TODAY?"
all_caps

'HOW ARE YOU TODAY?'

In [33]:
new_str = all_caps.lower()
new_str

'how are you today?'

Note that the method lower doesn’t change the original string but rather returns a new one.

In [32]:
all_caps.lower()
all_caps

'HOW ARE YOU TODAY?'

There are many string methods. Check out the [documentation](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [35]:
all_caps.split()

['HOW', 'ARE', 'YOU', 'TODAY?']

In [ ]:
# The count() method returns the number of occurrences of a substring in the given string.
all_caps.count("O")

One can explicitly cast a string to a list:

In [34]:
caps_list = list(all_caps)
caps_list

['H',
 'O',
 'W',
 ' ',
 'A',
 'R',
 'E',
 ' ',
 'Y',
 'O',
 'U',
 ' ',
 'T',
 'O',
 'D',
 'A',
 'Y',
 '?']

In [ ]:
len(all_caps)

In [ ]:
len(caps_list)

In [ ]:
all_caps[0] == caps_list[0]

In [ ]:
caps_list[0]

##### String Methods operators

Note: All string methods returns new values. They do not change the original string.

| <span style="color:darkgreen">**Method**</span>        | <span style="color:darkgreen">**Description**</span>                                                       |
|---------------|-------------------------------------------------------------------|
| **capitalize()**  | Converts the first character to upper case                       |
| casefold()    | Converts string into lower case                                  |
| **count()**       | Returns the number of times a specified value occurs in a string |
| encode()      | Returns an encoded version of the string                         |
| **endswith()**    | Returns true if the string ends with the specified value         |
| expandtabs()  | Sets the tab size of the string                                  |
| **find()**    | Searches the string for a specified value and returns the position of where it was found |
| format()      | Formats specified values in a string                             |
| format_map()  | Formats specified values in a string                             |
| index()       | Searches the string for a specified value and returns the position of where it was found |
| **isalnum()** | Returns True if all characters in the string are alphanumeric   |
| **isalpha()** | Returns True if all characters in the string are in the alphabet |
| isascii()     | Returns True if all characters in the string are ascii characters |
| isdecimal()   | Returns True if all characters in the string are decimals       |
| isdigit()     | Returns True if all characters in the string are digits         |
| isidentifier() | Returns True if the string is an identifier                     |
| **islower()**  | Returns True if all characters in the string are lower case     |
| **isnumeric()**   | Returns True if all characters in the string are numeric       |
| isprintable() | Returns True if all characters in the string are printable     |
| isspace()     | Returns True if all characters in the string are whitespaces    |
| istitle()     | Returns True if the string follows the rules of a title        |
| **isupper()** | Returns True if all characters in the string are upper case     |
| **join()**        | Converts the elements of an iterable into a string              |
| ljust()       | Returns a left justified version of the string                 |
| **lower()**   | Converts a string into lower case                               |
| lstrip()      | Returns a left trim version of the string                       |
| maketrans()   | Returns a translation table to be used in translations         |
| **partition()**   | Returns a tuple where the string is parted into three parts     |
| **replace()**     | Returns a string where a specified value is replaced with a specified value |
| rfind()       | Searches the string for a specified value and returns the last position of where it was found |
| rindex()      | Searches the string for a specified value and returns the last position of where it was found |
| rjust()       | Returns a right justified version of the string                |
| rpartition()  | Returns a tuple where the string is parted into three parts     |
| rsplit()      | Splits the string at the specified separator, and returns a list |
| rstrip()      | Returns a right trim version of the string                      |
| split()       | Splits the string at the specified separator, and returns a list |
| splitlines()  | Splits the string at line breaks and returns a list            |
| **startswith()**  | Returns true if the string starts with the specified value     |
| strip()       | Returns a trimmed version of the string                        |
| swapcase()    | Swaps cases, lower case becomes upper case and vice versa      |
| title()       | Converts the first character of each word to upper case         |
| translate()   | Returns a translated string                                    |
| **upper()**   | Converts a string into upper case                              |
| zfill()       | Fills the string with a specified number of 0 values at the beginning |

In [50]:
my_string='This is my string FOR the class'
#my_string.find("i")
# my_string.find("i",3)
my_string.find("tri")

12

In [42]:
txt = "Python is awesome!"
txt = txt.replace("Python", "Data science")
txt

'Data science is awesome!'

In [52]:
txt = "Python and data science and machine learning"
txt.partition("and")
#txt.rpartition("and")

('Python and data science ', 'and', ' machine learning')

#### String formatting

- Python has ways of creating strings by “filling in the blanks” and formatting them nicely.
- There are a few ways of doing this. See [here](https://realpython.com/python-string-formatting/) and [here](https://stackoverflow.com/questions/5082452/string-formatting-vs-format-vs-f-string-literal) for some discussion.

Old formatting style (borrowed from the C programming language):

In [43]:
## %i -> for integers
# %.Xf -> X is the number of decimals in the float 
template = "Hello, my name is %s. I am %.2f years old."

template

'Hello, my name is %s. I am %.2f years old.'

In [44]:
template % ("Newborn Baby", 4/12)

'Hello, my name is Newborn Baby. I am 0.33 years old.'

New formatting style (see [documentation](https://docs.python.org/3/library/stdtypes.html#str.format)):

In [48]:
template_new = "Hello, my name is {}. I am {:.2f} years old."

In [49]:
template_new.format('Newborn Baby', 4/12)

'Hello, my name is Newborn Baby. I am 0.33 years old.'

Newer formatting style (see [here](https://realpython.com/python-f-strings/#f-strings-a-new-and-improved-way-to-format-strings-in-python)) 
- note the **f** before the start of the string:

In [54]:
name = "Newborn Baby"
age = 4/12
template_new = f"Hello, my name is {name}. I am {age:.2} years old."
template_new

'Hello, my name is Newborn Baby. I am 0.33 years old.'

###  Dictionaries (10 min)

A dictionary is a mapping between key-values pairs.

In [55]:
house = {'bedrooms': 3, 'bathrooms': 2, 'city': 'Kelowna', 'price': 2499999, 'date_sold': (1,3,2019)}

condo = {'bedrooms' : 2, 
         'bathrooms': 1, 
         'city'     : 'Vernon', 
         'price'    : 699999, 
         'date_sold': (27,8,2015)
        }

We can access a specific field of a dictionary with square brackets:

In [11]:
house['price']

2499999

In [ ]:
condo['city']

We can also edit dictionaries (they are mutable):

In [ ]:
condo['price'] = 500000 # price already in the dict
condo

In [ ]:
condo['flooring'] = "wood" #add new key-values pair
condo

We can delete fields entirely (though I rarely use this):

In [ ]:
del condo["city"]
condo

In [57]:
condo[5] = 443345
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Vernon',
 'price': 699999,
 'date_sold': (27, 8, 2015),
 (1, 2, 3): 777,
 5: 443345}

In [56]:
condo[(1,2,3)] = 777
condo

{'bedrooms': 2,
 'bathrooms': 1,
 'city': 'Vernon',
 'price': 699999,
 'date_sold': (27, 8, 2015),
 (1, 2, 3): 777}

In [ ]:
condo["nothere"]

A sometimes useful trick about default values:

In [58]:
condo["bedrooms"]

2

In [59]:
condo.get("bedrooms")

2

In [62]:
condo.get("fireplaces")

- A common operation is finding the maximum dictionary key by value.
- There are a few ways to do this, see this [StackOverflow page](https://stackoverflow.com/questions/268272/getting-key-with-maximum-value-in-dictionary).
- One way of doing it:

In [63]:
word_lengths = {'a': 1, 'b': 3000, 'c': 0}

max(word_lengths, key=word_lengths.get)

'b'

#### Empties

In [ ]:
lst = list() # empty list
lst

In [ ]:
lst = [] # empty list
lst

In [ ]:
tup = tuple() # empty tuple
tup

In [ ]:
tup = () # empty tuple
tup

In [ ]:
dic = dict() # empty dict
dic

In [ ]:
dic = {} # empty dict
dic

In [65]:
st = set() # emtpy set
type(st)

set

Empty curly braces <code>{}</code> will make an empty dictionary in Python

In [66]:
st = {} # NOT an empty set!
type(st)

dict

In [67]:
st = {1}
type(st)

set

### Conditionals (10 min)

- [Conditional statements](https://docs.python.org/3/tutorial/controlflow.html) allow us to write programs where only certain blocks of code are executed depending on the state of the program.
- Let’s look at some examples and take note of the keywords, syntax and indentation.
- Check out the [Python documentation](https://docs.python.org/3/tutorial/controlflow.html) and [Think Python (Chapter 5)](https://greenteapress.com/thinkpython/html/thinkpython006.html) for more information about conditional execution.

In [69]:
name = input("What's your name?")

if name.lower() == 'mike':
    print("That's my name too!")
elif name.lower() == 'santa':
    print("That's a funny name.")
else:
    print("Hello {}! That's a cool name.".format(name))

    print('Nice to meet you!')

What's your name? dhu

Hello dhu! That's a cool name.
Nice to meet you!

In [53]:
bool(None)

False

The main points to notice:

- Use keywords <code>if</code>, <code>elif</code> and <code>else</code>
- The colon <code>:</code> ends each conditional expression
- Indentation (by 4 empty space) defines code blocks
- In an <code>if</code> statement, the first block whose conditional statement returns <span style="color:green">True</span> is executed and the program exits the <code>if</code> block
- <code>if</code> statements don’t necessarily need <code>elif</code> or <code>else</code>
- <code>elif</code> lets us check several conditions
- <code>else</code> lets us evaluate a default block if all other conditions are <span style="color:green">False</span>
-the end of the entire <code>if</code> statement is where the indentation returns to the same level as the first <code>if</code> keyword

If statements can also be nested inside of one another:

In [ ]:
name = input("What's your name?")

if name.lower() == 'mike':
    print("That's my name too!")
elif name.lower() == 'santa':
    print("That's a funny name.")
else:
    print("Hello {0}! That's a cool name.".format(name))
    if name.lower().startswith("super"):
        print("Do you have superpowers?")

print('Nice to meet you!')

#### Inline if/else

In [ ]:
words = ["the", "list", "of", "words"]

x = "long list" if len(words) > 10 else "short list"
x

In [ ]:
if len(words) > 10:
    x = "long list"
else:
    x = "short list"
    
x