In [1]:
import pandas as pd
import numpy as np

## Datetime

In [1]:
from  datetime  import  datetime
#now = datetime.now()
#now

In [2]:
#now.year

In [16]:
#delta  =  datetime ( 2018 ,  12 ,  11 )  -  datetime ( 2018 ,  9 ,  1 ,  8 ,  15 )

In [3]:
#delta.days

In [4]:
#delta.seconds

## timedelta

In [5]:
from  datetime  import  timedelta
#start  =  datetime ( 2018 ,  9 ,  1 )

# Use arithmetics on time
#start  +  timedelta ( 101 )

## Converting Between String and Datetime

In [6]:
#stamp = datetime(2019, 12, 21)
#str(stamp)

In [7]:
#stamp.strftime('%Y- %m- %d')

In [8]:
#stamp.strftime('%Y- %d- %m')

In [9]:
#value  =  '2011-01-03'
#datetime.strptime(value ,'%Y-%m-%d')

In [10]:
#datestrs = '7/6/2011'
#datetime.strptime (datestrs, '%m/%d/%Y')

### parsing strings to time

In [11]:
from  dateutil.parser  import  parse
#parse ( '2011-01-03' )

In [12]:
#parse ( 'Jan 31, 1997 10:45 PM' )

In [13]:
#parse ( '6/12/2011' ,  dayfirst = True )

**Issue with the parse() from python dateutil**

In [14]:
#parse ( '42-01-03' )

## Pandas datetime

In [15]:
#datestrs  =  [ '2011-07-06 12:00:00' ,  '2011-08-06 00:00:00' , None]
#idx = pd.to_datetime ( datestrs )
#idx

In [16]:
#idx[2]

In [17]:
#idx.isnull()

## Time Series

In [43]:
dates = [datetime(2011,1,2),datetime(2011,1,5 ),datetime(2011, 1 ,7 ),
         datetime(2011,1,8),datetime(2011,1,10),datetime(2011,1,12)]

In [18]:
#ts  =  pd.Series ( np.random.randn(6), index = dates )
#ts

Under the hood, these datetime  objects have been put in a DatetimeIndex

In [19]:
#ts.index

Arithmetic operations between differently indexed time series auto‚Äê matically align on the dates

In [20]:
#ts  +  ts [:: 2 ]

## Slicing time series

In [21]:
#ts [ '1/10/2011' ]

In [22]:
#ts [ '20110110' ]

In [55]:
#longer_ts  =  pd.Series ( np . random . randn ( 1000 ), 
#                           index = pd . date_range ( '1/1/2000' ,  periods = 1000 ))

In [23]:
#longer_ts.tail(5)

In [24]:
#longer_ts['2001']

In [25]:
#longer_ts['2002-02']

In [26]:
#longer_ts[datetime(2002,9,15):]

In [27]:
#longer_ts['2002-9-9':'2002/9/20']

## Time series on dataframes

In [29]:
#dates2 = pd.date_range('1,1,2019', periods=100 , freq='W-TUE')
#dates2

In [70]:
long_df = pd.DataFrame(np.random.rand(100,4), 
                      index = dates2, 
                      columns = ['BC', 'AB', 'ON', 'QC'])

In [30]:
#long_df.truncate(after = '1/2/2020')

In [31]:
#long_df.loc['2020/5']

In [32]:
#long_df.loc['2020-5']

In [33]:
#long_df.loc['5-2020']

## Frequencsies, daterange() and date offset

In [34]:
#pd.date_range('2014-5-1', '2015/4/1')

In [35]:
#pd.date_range(start = '2014-5-1', periods = 20)

In [36]:
#pd.date_range(end = '2014-5-1 12:54:21', periods = 20)

In [37]:
# the 'BM' in freq is refered to as time series frequencies
#pd.date_range('2014-5-1', '2015/4/1', freq='BM')

In [93]:
from pandas.tseries.offsets import Hour, Minute

In [38]:
#hour = Hour()
#hour

In [39]:
#four_hour = Hour(4)
#four_hour

In [40]:
#pd.date_range('2014-5-1', '2014/5/2', freq='4H')

In [41]:
#pd.date_range('2014-5-1', '2014/5/2', freq='1H30Min')

### week of month 
For example third friday of each month

In [42]:
#pd.date_range('2014-5-1', '2015/5/2', freq='WOM-3FRI')

## Shifting and lagging

In [44]:
#df2 = pd.DataFrame(np.random.rand(10,4), 
 #                     index = pd.date_range('1/1/2000', periods=10, freq='M'), 
  #                    columns = ['BC', 'AB', 'ON', 'QC'])
#df2

In [45]:
#df2.shift(2)

In [46]:
#df2.shift(2, freq='M')

In [47]:
#df2

In [48]:
#df2.shift(2, freq='D')

## Resampling

In [49]:
#df3 = pd.DataFrame(np.random.rand(100,4), 
 #                     index = pd.date_range('1/1/2000', periods=100, freq='D'), 
  #                    columns = ['BC', 'AB', 'ON', 'QC'])
#df3.head(4)

In [50]:
#df3.resample('M').mean()

## Aggregation

In [51]:
#df4 = pd.DataFrame(np.arange(100), 
 #                     index = pd.date_range('1/1/2000', periods=100, freq='T'), 
  #                    columns = ['BC'])
#df4.head(8)

In [52]:
#df4.resample('5Min', closed='right').sum()

# Example

This example is from 

https://www.datacamp.com/community/tutorials/converting-strings-datetime-objects

eth that contains some historical data on ether, a cryptocurrency whose blockchain is generated by the Ethereum platform. Your dataset has the following columns:
 
date: Date, daily at 00:00 UTC.

txVolume: Unadjusted measure of the total value, in US dollars, of outputs on the blockchain.

txCount: Number of transactions happening on the public blockchain.

marketCap: Unit price in US dollars multiplied by the number of units in circulation.

price: Opening price in US dollars at 00:00 UTC.

generatedCoins: Number of new coins that have been mined into existence.

exchangeVolume: The volume, measured by US dollars, at exchanges like GDAX and Bitfinex.

Read the dataset:

And let's confirm that the date column needs to be converted:

change the date column to datetime

Now that you have datetime objects as your date column, you can extract specific components of the date such as the month, day, or year, all of which are available as the object's attributes:

In [53]:
#print(eth['date'][0].month)
#print the day of the same record
#print the year of the same record

Date attributes are frequently used to group data by a particular time frame. For example, you can see how many ethers were generated on a yearly basis:

In [ ]:

%matplotlib inline
from collections import defaultdict
import matplotlib.pyplot as plt

# Initialize defaultdict of type float
yearly_total_coins = defaultdict(float)

# Loop over the rows of eth
for day in eth.iterrows():
    # Get the date
    dates = day[1][0]

    # Get the number of coins generated
    num_coins = day[1][5]

    # Add the total number of coins to the current value for the year
    yearly_total_coins[dates.year] += num_coins

# Print yearly_total_coins
print(yearly_total_coins)

# Visualize aggregated data
plt.bar(range(len(yearly_total_coins)), list(yearly_total_coins.values()), align='center')
plt.xticks(range(len(yearly_total_coins)), list(yearly_total_coins.keys()))
plt.title('# of ethers generated by year')
plt.show()